# Bot token
TOKEN=
# Bot application ID
CLIENT_ID=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
# ID of bot developers comma separated with no spaces: id1,id2,id3,idX
DEVELOPER_IDS=
# Mangadex API Client ID and Secret
MANGADEX_CLIENT_ID=
MANGADEX_SECRET=
# Mangadex Username and Password
MANGADEX_USERNAME=
MANGADEX_PASSWORD=
# Mongo URL
MONGO_URL=
# Redis URL
REDIS_URL=
# Bot Owner Token
OWNER_TOKEN=
# Express and ngrok
DOWNLOAD_PATH=
# NGROK_AUTHTOKEN=
# NGROK_DOMAIN=
DOMAIN=
SESSION_SECRET=
WEB_SERVER_PORT=
LOGIN_URI=
REDIRECT_URI=
# Discord OAuth2
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=

# Do not change these values. They are changed by the program when generating tokens
SPOTIFY_TOKEN=""
SPOTIFY_EXPIRE_TIME=0
MANGADEX_TOKEN=""
MANGADEX_EXPIRE_TIME=0
MANGADEX_REFRESH_TOKEN=""
MANGADEX_REFRESH_EXPIRE_TIME=""