# Bot token
TOKEN=
# Bot application ID
CLIENT_ID=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
# ID of bot developers comma separated with no spaces: id1,id2,id3,idX
DEVELOPER_IDS=
# Mangadex API Client ID and Secret
MANGADEX_CLIENT_ID=
MANGADEX_SECRET=
# Mangadex Username and Password
MANGADEX_USERNAME=
MANGADEX_PASSWORD=
# Mongo URL - App was developed with it being hosted locally
MONGO_URL="mongodb://localhost:27017/"
# Redis URL - App was developed with it being hosted locally
REDIS_URL="redis://127.0.0.1:6379"
# Do not change these values. They are changed by the program when generating tokens
SPOTIFY_TOKEN=""
SPOTIFY_EXPIRE_TIME=0
MANGADEX_TOKEN=""
MANGADEX_EXPIRE_TIME=0
MANGADEX_REFRESH_TOKEN=""
MANGADEX_REFRESH_EXPIRE_TIME=""
